<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0
    </div>
    <strong>Contoso <a target="_blank" href="http://www.contoso.com.br">Site</a>.</strong>
</footer>
