
@*<aside class="control-sidebar control-sidebar-light" tabindex="-1">


    <div class="tab-content" tabindex="-1">

        <div class="tab-pane" tabindex="-1" id="control-sidebar-home-tab">
        </div>

    </div>
</aside>*@

